form, #messageDiv {
    width: 90%;
    margin-left: 10%;
}

#messageDiv {
    margin-top: 20px;
}

input[type='number'] {
    width: 90%;
}

.red {
    border: 1px solid red;
}

.card {
    width: 50%;
    margin-left: 25%;
}

#lotoTicket {
    display: inline-block;
    border: 1px solid black;
}

#lotoTicket div {
    line-height: 1px;
}

#lotoTicket span {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: snow;
    border: 1px solid black;
    text-align: center;
    line-height: 48px;
}

#lotoTicket span:hover {
    cursor: pointer;
}

#lotoTicket span.selected {
    background-color: rgb(69, 160, 66);
}

#extractbutton{
    visibility: hidden;
}